@model ThikbridgeTest.Models.Component

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h4>Details</h4>
    <hr />
    <div class="col-md-2">
        <img src="~/Content/Images/@Model.Picture" Style="width:100px; height:100px"> 
    </div>
    <dl class="dl-horizontal col-md-6">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <br /><br />
    @Html.ActionLink("Back to List", "Index")
</p>
